.backdrop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente para ver el efecto */
  backdrop-filter: blur(5px); /* Aplica el desenfoque */
  z-index: 1; /* Asegura que esté por encima de la imagen */
}